@page "/"
@inject IndexDb index
<PageTitle>Get Info</PageTitle>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 30px;
    }

    form {
        border: 1px solid #333;
        padding: 20px;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 5px;
    }

    .input-group {
        display: flex;
        margin-bottom: 10px;
    }

    label {
        width: 100px;
    }

    input,
    select,
    textarea {
        flex: 1;
        padding: 3px 5px;
    }

    .submit-group {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    button {
        width: 100px;
        margin: 0 auto;
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

</style>


<form @onsubmit="SubmitNewStudent">
    <div class="input-group">
        <label for="fname">Firstname</label>
        <input id="fname"
               name="fname"
               placeholder="Enter firstname"
               required="required" @bind="NewStudent.FirstName" />
    </div>
    <div class="input-group">
        <label for="lname">Lastname</label>
        <input id="lname"
               name="lname"
               placeholder="Enter lastname"
               required="required" @bind="NewStudent.LastName" />
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input id="email"
               type="email"
               name="email"
               placeholder="Enter your email" @bind="NewStudent.Email" />
    </div>

    <div class="input-group">
        <label for="country">Country</label>
        <input id="country"
               type="text"
               name="country"
               placeholder="Enter your country" @bind="NewStudent.Country"/>
    </div>

    <div class="input-group">
        <label for="message">Any message?</label>
        <textarea id="message"
                  name="message"
                  placeholder="Optional" @bind="NewStudent.SMessage"></textarea>
    </div>
    <div class="submit-group">
        <button type="submit">Submit form</button>
    </div>
</form>


@code{
    #nullable disable
    private Student NewStudent = new();

    private void SubmitNewStudent()
    {
        index.Create(NewStudent);
        NewStudent = new();
    }
}